# Gun Violence Data Initial Load
Load data for all gun related incidents first pass for 2016 only
Sources: original data source gunviolencearchive.org the data used is the property of gunviolencearchive.org. 
Any furture use of any of the data used in this project requires citation. 
https://www.gunviolencearchive.org/

In [55]:
# Dependencies and Setup
import pandas as pd
import datetime as dt

# GVA data from 
get_GVA = "../Data/GVA13_18.csv"

# Read Gun Violence Archive Data
GVA_data = pd.read_csv(get_GVA)

In [56]:
# Working copy of GVA data. 
GVA = pd.DataFrame(GVA_data)

In [57]:
# Create a datetime series for later comparison
GVA['comp_date'] = pd.to_datetime(GVA['date'], format= '%Y-%m-%d')

In [58]:
# Retrieve only 2016 data
GVA16 = GVA[GVA['comp_date'].dt.year == 2016]
GVA16.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,comp_date
105711,477000,2016-01-01,Massachusetts,Boston,Fairmount Street,0,1,http://www.gunviolencearchive.org/incident/477000,http://www.bostonherald.com/news/local_coverag...,False,...,0::Adult 18+,0::Female,NaN,NaN,0::Injured,0::Victim,http://www.bostonherald.com/news/local_coverag...,NaN,NaN,2016-01-01
105712,1023080,2016-01-01,Connecticut,Meriden,Hobart St and Myrtle St,0,0,http://www.gunviolencearchive.org/incident/102...,https://www.justice.gov/usao-ct/pr/west-haven-...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+,0::Male||1::Male||2::Male,0::Don Meeker||1::Elbert Llorens||2::Kyle Vale...,NaN,"0::Unharmed, Arrested||1::Unharmed, Arrested||...",0::Subject-Suspect||1::Subject-Suspect||2::Sub...,https://www.justice.gov/usao-ct/pr/west-haven-...,84.0,13.0,2016-01-01
105713,476977,2016-01-01,Missouri,Kansas City,12th Street and Denver Avenue,0,1,http://www.gunviolencearchive.org/incident/476977,http://www.kmbc.com/news/6-people-struck-by-gu...,False,...,NaN,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.kmbc.com/news/6-people-struck-by-gu...,23.0,9.0,2016-01-01
105714,476979,2016-01-01,Missouri,Kansas City,39th Street and U.S. 71,0,1,http://www.gunviolencearchive.org/incident/476979,http://www.kmbc.com/news/6-people-struck-by-gu...,False,...,NaN,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.kmbc.com/news/6-people-struck-by-gu...,18.0,17.0,2016-01-01
105715,476661,2016-01-01,Wisconsin,Cudahy,3700 block of E. Whittaker Ave,2,0,http://www.gunviolencearchive.org/incident/476661,http://hispanicnewsnetwork.blogspot.com/2016/0...,False,...,0::Child 0-11||1::Adult 18+,0::Female||1::Male,0::Skylar Monroe Hartman||1::Brett Hartman,1::Family,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,http://www.jsonline.com/news/crime/father-kill...,20.0,7.0,2016-01-01

In [25]:
GVA16.describe

<bound method NDFrame.describe of         incident_id        date          state city_or_county  \
105711       477000  2016-01-01  Massachusetts         Boston
105712      1023080  2016-01-01    Connecticut        Meriden
105713       476977  2016-01-01       Missouri    Kansas City
105714       476979  2016-01-01       Missouri    Kansas City
105715       476661  2016-01-01      Wisconsin         Cudahy
...             ...         ...            ...            ...
164469       743340  2016-12-31        Indiana     Fort Wayne
164470       741420  2016-12-31       Arkansas      Jonesboro
164471       745128  2016-12-31       Oklahoma  Oklahoma City
164472       739545  2016-12-31     Washington        Seattle
164473       739539  2016-12-31       Virginia   Newport News

                               address  n_killed  n_injured  \
105711                Fairmount Street         0          1
105712         Hobart St and Myrtle St         0          0
105713   12th Street and Denver Avenue         0          1
105714         39th Street and U.S. 71         0          1
105715  3700 block of E. Whittaker Ave         2          0
...                                ...       ...        ...
164469                             NaN         0          0
164470        3800 block of Raider Rd.         0          0
164471          8300 block of 106th St         1          0
164472             3rd Ave and Pine St         0          1
164473                    Vernon Place         0          1

                                             incident_url  \
105711  http://www.gunviolencearchive.org/incident/477000
105712  http://www.gunviolencearchive.org/incident/102...
105713  http://www.gunviolencearchive.org/incident/476977
105714  http://www.gunviolencearchive.org/incident/476979
105715  http://www.gunviolencearchive.org/incident/476661
...                                                   ...
164469  http://www.gunviolencearchive.org/incident/743340
164470  http://www.gunviolencearchive.org/incident/741420
164471  http://www.gunviolencearchive.org/incident/745128
164472  http://www.gunviolencearchive.org/incident/739545
164473  http://www.gunviolencearchive.org/incident/739539

                                               source_url  \
105711  http://www.bostonherald.com/news/local_coverag...
105712  https://www.justice.gov/usao-ct/pr/west-haven-...
105713  http://www.kmbc.com/news/6-people-struck-by-gu...
105714  http://www.kmbc.com/news/6-people-struck-by-gu...
105715  http://hispanicnewsnetwork.blogspot.com/2016/0...
...                                                   ...
164469  http://www.journalgazette.net/news/local/polic...
164470  http://www.kait8.com/story/34166901/guns-repor...
164471  http://www.news9.com/story/34175944/police-sea...
164472  http://www.seattletimes.com/seattle-news/man-w...
164473  http://wavy.com/2016/12/31/person-injured-in-s...

        incident_url_fields_missing  ...  \
105711                        False  ...
105712                        False  ...
105713                        False  ...
105714                        False  ...
105715                        False  ...
...                             ...  ...
164469                        False  ...
164470                        False  ...
164471                        False  ...
164472                        False  ...
164473                        False  ...

                           participant_age_group         participant_gender  \
105711                              0::Adult 18+                  0::Female
105712  0::Adult 18+||1::Adult 18+||2::Adult 18+  0::Male||1::Male||2::Male
105713                                       NaN                    0::Male
105714                                       NaN                    0::Male
105715               0::Child 0-11||1::Adult 18+         0::Female||1::Male
...                                          ...                        ...
164469                              0::Adult 18+                    0::Male
164470                                       NaN                        NaN
164471                0::Adult 18+||1::Adult 18+           0::Male||1::Male
164472                              0::Adult 18+                    0::Male
164473                                       NaN                    0::Male

                                         participant_name  \
105711                                                NaN
105712  0::Don Meeker||1::Elbert Llorens||2::Kyle Vale...
105713                                                NaN
105714                                                NaN
105715         0::Skylar Monroe Hartman||1::Brett Hartman
...                                                   ...
164469                               0::Aristotle OJ Soil
164470                                                NaN
164471               0::Matthew Webster||1::Hareth Hameed
164472                                                NaN
164473                                                NaN

       participant_relationship  \
105711                      NaN
105712                      NaN
105713                      NaN
105714                      NaN
105715                1::Family
...                         ...
164469                      NaN
164470                      NaN
164471         1::Armed Robbery
164472                      NaN
164473                      NaN

                                       participant_status  \
105711                                         0::Injured
105712  0::Unharmed, Arrested||1::Unharmed, Arrested||...
105713                                         0::Injured
105714                                         0::Injured
105715                               0::Killed||1::Killed
...                                                   ...
164469                              0::Unharmed, Arrested
164470                                                NaN
164471                   0::Killed||1::Unharmed, Arrested
164472                  0::Injured||1::Unharmed, Arrested
164473                                         0::Injured

                                         participant_type  \
105711                                          0::Victim
105712  0::Subject-Suspect||1::Subject-Suspect||2::Sub...
105713                                          0::Victim
105714                                          0::Victim
105715                      0::Victim||1::Subject-Suspect
...                                                   ...
164469                                 0::Subject-Suspect
164470                                                NaN
164471                      0::Victim||1::Subject-Suspect
164472                      0::Victim||1::Subject-Suspect
164473                                          0::Victim

                                                  sources  \
105711  http://www.bostonherald.com/news/local_coverag...
105712  https://www.justice.gov/usao-ct/pr/west-haven-...
105713  http://www.kmbc.com/news/6-people-struck-by-gu...
105714  http://www.kmbc.com/news/6-people-struck-by-gu...
105715  http://www.jsonline.com/news/crime/father-kill...
...                                                   ...
164469  http://www.journalgazette.net/news/local/polic...
164470  http://www.kait8.com/story/34166901/guns-repor...
164471  http://www.news9.com/story/34175944/police-sea...
164472  http://www.seattletimes.com/seattle-news/man-w...
164473  http://www.13newsnow.com/news/local/mycity/new...

        state_house_district state_senate_district  comp_date
105711                   NaN                   NaN 2016-01-01
105712                  84.0                  13.0 2016-01-01
105713                  23.0                   9.0 2016-01-01
105714                  18.0                  17.0 2016-01-01
105715                  20.0                   7.0 2016-01-01
...                      ...                   ...        ...
164469                  50.0                  16.0 2016-12-31
164470                   NaN                   NaN 2016-12-31
164471                 100.0                  47.0 2016-12-31
164472                  43.0                  43.0 2016-12-31
164473                  95.0                   2.0 2016-12-31

[58763 rows x 30 columns]>

In [52]:
# Take a look at data by State
GVAByState16 = GVA16.groupby(['state']).count()
GVAByState16.head(20)

,incident_id,date,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,comp_date
state,,,,,,,,,,,,,,,,,,,,,
Alabama,1309,1309,1309,1190,1309,1309,1309,1309,1309,1224,...,1197,1121,748,116,1230,1233,1308,1221,1224,1309
Alaska,445,445,445,338,445,445,445,444,445,416,...,341,351,278,39,357,358,444,416,41,445
Arizona,554,554,554,525,554,554,554,551,554,524,...,467,482,262,80,509,516,544,524,524,554
Arkansas,720,720,720,650,720,720,720,720,720,664,...,632,614,460,41,647,650,717,664,664,720
California,3617,3617,3617,3489,3617,3617,3617,3609,3617,3521,...,3066,3155,1645,268,3331,3353,3612,3521,3520,3617
Colorado,812,812,812,759,812,812,812,811,812,742,...,513,628,412,95,692,702,800,742,742,812
Connecticut,803,803,803,751,803,803,803,802,803,772,...,631,653,445,45,682,685,802,772,772,803
Delaware,328,328,328,320,328,328,328,328,328,315,...,299,298,126,11,302,303,328,315,315,328
District of Columbia,497,497,497,422,497,497,497,495,497,457,...,348,335,130,6,451,458,494,2,3,497
Florida,4201,4201,4201,3982,4201,4201,4201,4197,4201,3981,...,3061,3091,2187,439,3245,3248,4184,3979,3981,4201
Georgia,1708,1708,1708,1621,1708,1708,1708,1704,1708,1585,...,1437,1442,973,173,1499,1507,1701,1584,1585,1708
Hawaii,79,79,79,72,79,79,79,79,79,76,...,71,72,52,9,73,73,79,76,76,79
Idaho,155,155,155,132,155,155,155,155,155,140,...,138,139,110,18,141,142,154,140,140,155
Illinois,5055,5055,5055,4935,5055,5055,5055,5042,5055,4720,...,4625,4720,1448,51,4783,4805,5041,4720,4720,5055
Indiana,1511,1511,1511,1420,1511,1511,1511,1505,1511,1353,...,1257,1316,809,55,1396,1412,1508,1351,1350,1511
Iowa,659,659,659,600,659,659,659,659,659,620,...,435,478,376,41,491,493,658,620,620,659
Kansas,572,572,572,517,572,572,572,570,572,529,...,377,436,209,55,466,467,572,528,528,572
Kentucky,1021,1021,1021,950,1021,1021,1021,1019,1021,900,...,840,856,629,101,931,938,1018,4,4,1021
Louisiana,2070,2070,2070,1869,2070,2070,2070,2067,2070,1864,...,1900,1942,1229,385,1999,2005,2066,1862,1864,2070
Maine,232,232,232,202,232,232,232,232,232,230,...,158,161,129,26,161,161,232,229,230,232

In [51]:
# Take a look at data by State and City ot County (recorded juristiction)
GVAByStateCity16 = GVA16.groupby(['state', 'city_or_county']).count()
GVAByStateCity16.head(20)

                             incident_id  date  address  n_killed  n_injured  \
state   city_or_county
Alabama Abbeville                      1     1        0         1          1
        Adamsville                     3     3        2         3          3
        Alabaster                      2     2        2         2          2
        Albertville                    5     5        5         5          5
        Alexander City                 2     2        2         2          2
        Aliceville                     1     1        1         1          1
        Andalusia                      3     3        2         3          3
        Anniston                      12    12       12        12         12
        Arab                           5     5        5         5          5
        Ariton                         2     2        2         2          2
        Ashville                       1     1        1         1          1
        Athens                        13    13       13        13         13
        Atmore                         5     5        5         5          5
        Atmore (Canoe)                 1     1        1         1          1
        Attalla                        1     1        1         1          1
        Auburn                        11    11       11        11         11
        Baldwin (county)               1     1        1         1          1
        Bay Minette                    1     1        0         1          1
        Bessemer                      25    25       25        25         25
        Bessemer (Brighton)            4     4        4         4          4

                             incident_url  source_url  \
state   city_or_county
Alabama Abbeville                       1           1
        Adamsville                      3           3
        Alabaster                       2           2
        Albertville                     5           5
        Alexander City                  2           2
        Aliceville                      1           1
        Andalusia                       3           3
        Anniston                       12          12
        Arab                            5           5
        Ariton                          2           2
        Ashville                        1           1
        Athens                         13          13
        Atmore                          5           5
        Atmore (Canoe)                  1           1
        Attalla                         1           1
        Auburn                         11          11
        Baldwin (county)                1           1
        Bay Minette                     1           1
        Bessemer                       25          25
        Bessemer (Brighton)             4           4

                             incident_url_fields_missing  \
state   city_or_county
Alabama Abbeville                                      1
        Adamsville                                     3
        Alabaster                                      2
        Albertville                                    5
        Alexander City                                 2
        Aliceville                                     1
        Andalusia                                      3
        Anniston                                      12
        Arab                                           5
        Ariton                                         2
        Ashville                                       1
        Athens                                        13
        Atmore                                         5
        Atmore (Canoe)                                 1
        Attalla                                        1
        Auburn                                        11
        Baldwin (county)                               1
        Bay Minette                                    1
        Bessemer                                      25
        Bessemer (Brighton)                            4

                             congressional_district  gun_stolen  ...  \
state   city_or_county                                           ...
Alabama Abbeville                                 1           0  ...
        Adamsville                                3           1  ...
        Alabaster                                 1           2  ...
        Albertville                               5           4  ...
        Alexander City                            2           1  ...
        Aliceville                                1           1  ...
        Andalusia                                 3           0  ...
        Anniston                                 12           5  ...
        Arab                                      5           3  ...
        Ariton                                    2           2  ...
        Ashville                                  1           1  ...
        Athens                                   13           6  ...
        Atmore                                    5           3  ...
        Atmore (Canoe)                            1           1  ...
        Attalla                                   1           0  ...
        Auburn                                    9           8  ...
        Baldwin (county)                          1           1  ...
        Bay Minette                               1           0  ...
        Bessemer                                 23          11  ...
        Bessemer (Brighton)                       4           3  ...

                             participant_age_group  participant_gender  \
state   city_or_county
Alabama Abbeville                                1                   1
        Adamsville                               3                   1
        Alabaster                                2                   2
        Albertville                              5                   5
        Alexander City                           2                   2
        Aliceville                               1                   1
        Andalusia                                0                   1
        Anniston                                12                  11
        Arab                                     5                   5
        Ariton                                   2                   1
        Ashville                                 1                   1
        Athens                                  11                  11
        Atmore                                   4                   5
        Atmore (Canoe)                           1                   1
        Attalla                                  1                   1
        Auburn                                  11                  11
        Baldwin (county)                         1                   1
        Bay Minette                              1                   1
        Bessemer                                20                  20
        Bessemer (Brighton)                      3                   3

                             participant_name  participant_relationship  \
state   city_or_county
Alabama Abbeville                           1                         0
        Adamsville                          0                         0
        Alabaster                           2                         0
        Albertville                         3                         2
        Alexander City                      2                         0
        Aliceville                          1                         0
        Andalusia                           0                         0
        Anniston                           10                         0
        Arab                                3                         2
        Ariton                              1                         0
        Ashville                            1                         1
        Athens                              8                         1
        Atmore                              4                         1
        Atmore (Canoe)                      1                         0
        Attalla                             1                         0
        Auburn                              8                         0
        Baldwin (county)                    1                         0
        Bay Minette                         1                         1
        Bessemer                           10                         0
        Bessemer (Brighton)                 2                         0

                             participant_status  participant_type  sources  \
state   city_or_county
Alabama Abbeville                             1                 1        1
        Adamsville                            3                 3        3
        Alabaster                             2                 2        2
        Albertville                           5                 5        5
        Alexander City                        2                 2        2
        Aliceville                            1                 1        1
        Andalusia                             1                 1        3
        Anniston                             12                12       12
        Arab                                  5                 5        5
        Ariton                                2                 2        2
        Ashville                              1                 1        1
        Athens                               11                11       13
        Atmore                                5                 5        5
        Atmore (Canoe)                        1                 1        1
        Attalla                               1                 1        1
        Auburn                               11                11       11
        Baldwin (county)                      1                 1        1
        Bay Minette                           1                 1        1
        Bessemer                             23                23       25
        Bessemer (Brighton)                   3                 3        4

                             state_house_district  state_senate_district  \
state   city_or_county
Alabama Abbeville                               1                      1
        Adamsville                              3                      3
        Alabaster                               1                      1
        Albertville                             5                      5
        Alexander City                          2                      2
        Aliceville                              1                      1
        Andalusia                               3                      3
        Anniston                               12                     12
        Arab                                    5                      5
        Ariton                                  2                      2
        Ashville                                1                      1
        Athens                                 13                     13
        Atmore                                  5                      5
        Atmore (Canoe)                          1                      1
        Attalla                                 1                      1
        Auburn                                  9                      9
        Baldwin (county)                        1                      1
        Bay Minette                             1                      1
        Bessemer                               23                     23
        Bessemer (Brighton)                     4                      4

                             comp_date
state   city_or_county
Alabama Abbeville                    1
        Adamsville                   3
        Alabaster                    2
        Albertville                  5
        Alexander City               2
        Aliceville                   1
        Andalusia                    3
        Anniston                    12
        Arab                         5
        Ariton                       2
        Ashville                     1
        Athens                      13
        Atmore                       5
        Atmore (Canoe)               1
        Attalla                      1
        Auburn                      11
        Baldwin (county)             1
        Bay Minette                  1
        Bessemer                    25
        Bessemer (Brighton)          4

[20 rows x 28 columns]

### This might be interesting

In [53]:
# Take a look at data by State and City ot County by worst offenders
GVAByStateCity16.sort_values(by='incident_id', ascending=False).head(20)

                                          incident_id  date  address  \
state                city_or_county
Illinois             Chicago                     3075  3075     3059
Maryland             Baltimore                    919   919      891
Louisiana            New Orleans                  829   829      795
Florida              Jacksonville                 775   775      767
Tennessee            Memphis                      704   704      673
Pennsylvania         Philadelphia                 651   651      644
Texas                Houston                      548   548      528
                     San Antonio                  535   535      510
Ohio                 Cleveland                    517   517      508
Missouri             Saint Louis                  511   511      496
District of Columbia Washington                   496   496      422
Indiana              Indianapolis                 464   464      450
Massachusetts        Boston                       458   458      449
Wisconsin            Milwaukee                    457   457      450
Kentucky             Louisville                   418   418      395
Nevada               Las Vegas                    389   389      376
New York             Brooklyn                     353   353      337
Illinois             Chicago (Englewood)          352   352      351
Oklahoma             Tulsa                        337   337      321
Michigan             Detroit                      336   336      312

                                          n_killed  n_injured  incident_url  \
state                city_or_county
Illinois             Chicago                  3075       3075          3075
Maryland             Baltimore                 919        919           919
Louisiana            New Orleans               829        829           829
Florida              Jacksonville              775        775           775
Tennessee            Memphis                   704        704           704
Pennsylvania         Philadelphia              651        651           651
Texas                Houston                   548        548           548
                     San Antonio               535        535           535
Ohio                 Cleveland                 517        517           517
Missouri             Saint Louis               511        511           511
District of Columbia Washington                496        496           496
Indiana              Indianapolis              464        464           464
Massachusetts        Boston                    458        458           458
Wisconsin            Milwaukee                 457        457           457
Kentucky             Louisville                418        418           418
Nevada               Las Vegas                 389        389           389
New York             Brooklyn                  353        353           353
Illinois             Chicago (Englewood)       352        352           352
Oklahoma             Tulsa                     337        337           337
Michigan             Detroit                   336        336           336

                                          source_url  \
state                city_or_county
Illinois             Chicago                    3067
Maryland             Baltimore                   919
Louisiana            New Orleans                 829
Florida              Jacksonville                775
Tennessee            Memphis                     702
Pennsylvania         Philadelphia                649
Texas                Houston                     548
                     San Antonio                 535
Ohio                 Cleveland                   513
Missouri             Saint Louis                 509
District of Columbia Washington                  494
Indiana              Indianapolis                462
Massachusetts        Boston                      457
Wisconsin            Milwaukee                   456
Kentucky             Louisville                  418
Nevada               Las Vegas                   383
New York             Brooklyn                    352
Illinois             Chicago (Englewood)         351
Oklahoma             Tulsa                       337
Michigan             Detroit                     336

                                          incident_url_fields_missing  \
state                city_or_county
Illinois             Chicago                                     3075
Maryland             Baltimore                                    919
Louisiana            New Orleans                                  829
Florida              Jacksonville                                 775
Tennessee            Memphis                                      704
Pennsylvania         Philadelphia                                 651
Texas                Houston                                      548
                     San Antonio                                  535
Ohio                 Cleveland                                    517
Missouri             Saint Louis                                  511
District of Columbia Washington                                   496
Indiana              Indianapolis                                 464
Massachusetts        Boston                                       458
Wisconsin            Milwaukee                                    457
Kentucky             Louisville                                   418
Nevada               Las Vegas                                    389
New York             Brooklyn                                     353
Illinois             Chicago (Englewood)                          352
Oklahoma             Tulsa                                        337
Michigan             Detroit                                      336

                                          congressional_district  gun_stolen  \
state                city_or_county
Illinois             Chicago                                2888        1901
Maryland             Baltimore                               894         529
Louisiana            New Orleans                             745         517
Florida              Jacksonville                            748         566
Tennessee            Memphis                                 648         362
Pennsylvania         Philadelphia                            612         360
Texas                Houston                                 509         337
                     San Antonio                             456         349
Ohio                 Cleveland                               472         365
Missouri             Saint Louis                             507         477
District of Columbia Washington                              456         304
Indiana              Indianapolis                            412         312
Massachusetts        Boston                                  427         347
Wisconsin            Milwaukee                               433         222
Kentucky             Louisville                              350         260
Nevada               Las Vegas                               353         185
New York             Brooklyn                                336         200
Illinois             Chicago (Englewood)                     325         204
Oklahoma             Tulsa                                   310         218
Michigan             Detroit                                 301         237

                                          ...  participant_age_group  \
state                city_or_county       ...
Illinois             Chicago              ...                   2954
Maryland             Baltimore            ...                    892
Louisiana            New Orleans          ...                    781
Florida              Jacksonville         ...                    296
Tennessee            Memphis              ...                    562
Pennsylvania         Philadelphia         ...                    622
Texas                Houston              ...                    468
                     San Antonio          ...                    485
Ohio                 Cleveland            ...                    482
Missouri             Saint Louis          ...                    400
District of Columbia Washington           ...                    347
Indiana              Indianapolis         ...                    347
Massachusetts        Boston               ...                    352
Wisconsin            Milwaukee            ...                    432
Kentucky             Louisville           ...                    337
Nevada               Las Vegas            ...                    323
New York             Brooklyn             ...                    315
Illinois             Chicago (Englewood)  ...                    346
Oklahoma             Tulsa                ...                    207
Michigan             Detroit              ...                    270

                                          participant_gender  \
state                city_or_county
Illinois             Chicago                            2992
Maryland             Baltimore                           897
Louisiana            New Orleans                         799
Florida              Jacksonville                        300
Tennessee            Memphis                             596
Pennsylvania         Philadelphia                        624
Texas                Houston                             480
                     San Antonio                         501
Ohio                 Cleveland                           493
Missouri             Saint Louis                         472
District of Columbia Washington                          334
Indiana              Indianapolis                        377
Massachusetts        Boston                              367
Wisconsin            Milwaukee                           432
Kentucky             Louisville                          342
Nevada               Las Vegas                           331
New York             Brooklyn                            333
Illinois             Chicago (Englewood)                 349
Oklahoma             Tulsa                               292
Michigan             Detroit                             274

                                          participant_name  \
state                city_or_county
Illinois             Chicago                           605
Maryland             Baltimore                         423
Louisiana            New Orleans                       354
Florida              Jacksonville                      143
Tennessee            Memphis                           314
Pennsylvania         Philadelphia                      136
Texas                Houston                           214
                     San Antonio                       206
Ohio                 Cleveland                         182
Missouri             Saint Louis                       227
District of Columbia Washington                        129
Indiana              Indianapolis                      201
Massachusetts        Boston                            250
Wisconsin            Milwaukee                         103
Kentucky             Louisville                        229
Nevada               Las Vegas                         169
New York             Brooklyn                          165
Illinois             Chicago (Englewood)                79
Oklahoma             Tulsa                             146
Michigan             Detroit                            91

                                          participant_relationship  \
state                city_or_county
Illinois             Chicago                                    18
Maryland             Baltimore                                  15
Louisiana            New Orleans                               186
Florida              Jacksonville                               38
Tennessee            Memphis                                    79
Pennsylvania         Philadelphia                               56
Texas                Houston                                   127
                     San Antonio                               102
Ohio                 Cleveland                                  34
Missouri             Saint Louis                                54
District of Columbia Washington                                  6
Indiana              Indianapolis                               12
Massachusetts        Boston                                      1
Wisconsin            Milwaukee                                  29
Kentucky             Louisville                                 34
Nevada               Las Vegas                                  62
New York             Brooklyn                                   31
Illinois             Chicago (Englewood)                         4
Oklahoma             Tulsa                                      45
Michigan             Detroit                                    63

                                          participant_status  \
state                city_or_county
Illinois             Chicago                            3012
Maryland             Baltimore                           913
Louisiana            New Orleans                         813
Florida              Jacksonville                        326
Tennessee            Memphis                             666
Pennsylvania         Philadelphia                        633
Texas                Houston                             499
                     San Antonio                         506
Ohio                 Cleveland                           500
Missouri             Saint Louis                         487
District of Columbia Washington                          450
Indiana              Indianapolis                        427
Massachusetts        Boston                              389
Wisconsin            Milwaukee                           442
Kentucky             Louisville                          399
Nevada               Las Vegas                           360
New York             Brooklyn                            335
Illinois             Chicago (Englewood)                 351
Oklahoma             Tulsa                               303
Michigan             Detroit                             314

                                          participant_type  sources  \
state                city_or_county
Illinois             Chicago                          3015     3066
Maryland             Baltimore                         915      919
Louisiana            New Orleans                       818      829
Florida              Jacksonville                      326      774
Tennessee            Memphis                           667      704
Pennsylvania         Philadelphia                      635      651
Texas                Houston                           500      539
                     San Antonio                       509      530
Ohio                 Cleveland                         503      515
Missouri             Saint Louis                       488      510
District of Columbia Washington                        457      493
Indiana              Indianapolis                      436      462
Massachusetts        Boston                            390      458
Wisconsin            Milwaukee                         444      455
Kentucky             Louisville                        400      417
Nevada               Las Vegas                         360      386
New York             Brooklyn                          338      353
Illinois             Chicago (Englewood)               351      351
Oklahoma             Tulsa                             305      335
Michigan             Detroit                           318      331

                                          state_house_district  \
state                city_or_county
Illinois             Chicago                              2888
Maryland             Baltimore                             783
Louisiana            New Orleans                           743
Florida              Jacksonville                          747
Tennessee            Memphis                               648
Pennsylvania         Philadelphia                            2
Texas                Houston                               471
                     San Antonio                           428
Ohio                 Cleveland                             468
Missouri             Saint Louis                           507
District of Columbia Washington                              2
Indiana              Indianapolis                          411
Massachusetts        Boston                                  1
Wisconsin            Milwaukee                             433
Kentucky             Louisville                              1
Nevada               Las Vegas                             353
New York             Brooklyn                              335
Illinois             Chicago (Englewood)                   325
Oklahoma             Tulsa                                 310
Michigan             Detroit                               299

                                          state_senate_district  comp_date
state                city_or_county
Illinois             Chicago                               2888       3075
Maryland             Baltimore                              894        919
Louisiana            New Orleans                            745        829
Florida              Jacksonville                           748        775
Tennessee            Memphis                                648        704
Pennsylvania         Philadelphia                             2        651
Texas                Houston                                509        548
                     San Antonio                            456        535
Ohio                 Cleveland                              470        517
Missouri             Saint Louis                            507        511
District of Columbia Washington                               3        496
Indiana              Indianapolis                           409        464
Massachusetts        Boston                                   1        458
Wisconsin            Milwaukee                              433        457
Kentucky             Louisville                               1        418
Nevada               Las Vegas                              353        389
New York             Brooklyn                               336        353
Illinois             Chicago (Englewood)                    325        352
Oklahoma             Tulsa                                  310        337
Michigan             Detroit                                301        336

[20 rows x 28 columns]

In [39]:
# look at summary info by month
GVAByMonth16 = GVA16.groupby(GVA['comp_date'].dt.month).count()

### They say summer represents the most violent season, but it looks like you cannot discount December or October at least when looking at gun involved assault in 2016.

In [40]:
GVAByMonth16

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,comp_date
comp_date,,,,,,,,,,,,,,,,,,,,,
1,4590,4590,4590,4590,4250,4590,4590,4590,4579,4590,...,3868,4004,2442,436,4195,4211,4585,4019,4083,4590
2,3967,3967,3967,3967,3657,3967,3967,3967,3964,3967,...,3265,3373,2109,364,3539,3558,3964,3489,3547,3967
3,4892,4892,4892,4892,4541,4892,4892,4892,4887,4892,...,3980,4052,2466,415,4265,4289,4869,4229,4330,4892
4,4672,4672,4672,4672,4307,4672,4672,4672,4668,4672,...,3736,3870,2275,410,4062,4090,4657,4006,4118,4672
5,4902,4902,4902,4902,4554,4902,4902,4902,4894,4902,...,4082,4209,2480,445,4403,4445,4801,4242,4323,4902
6,4530,4530,4530,4530,4230,4530,4530,4530,4518,4530,...,3866,3948,2370,423,4146,4158,4527,3873,3938,4530
7,5250,5250,5250,5250,4944,5250,5250,5250,5240,5250,...,4435,4539,2586,467,4759,4768,5246,4475,4567,5250
8,5527,5527,5527,5527,5245,5527,5527,5527,5517,5527,...,4622,4745,2720,482,4972,4994,5526,4501,4640,5527
9,4937,4937,4937,4937,4648,4937,4937,4937,4912,4937,...,4093,4222,2507,433,4444,4466,4922,3791,3889,4937
10,5251,5251,5251,5251,4975,5251,5251,5251,5223,5251,...,4297,4465,2581,490,4685,4715,5239,3747,3870,5251
11,5092,5092,5092,5092,4737,5092,5092,5092,5077,5092,...,4181,4331,2588,483,4557,4583,5085,3534,3668,5092
12,5153,5153,5153,5153,4785,5153,5153,5153,5148,5153,...,4325,4485,2678,512,4673,4696,5148,4010,4119,5153

In [59]:
filepath='../Data/GVA16Raw.csv'
GVA16.to_csv(filepath)