# Gun Violence Data Initial Load
#### This notebook is obsolete see main.py 

Load data for all gun related incidents first pass for 2016 only
Sources: original data source gunviolencearchive.org the data used is the property of gunviolencearchive.org. 
Any furture use of any of the data used in this project requires citation. 
https://www.gunviolencearchive.org/

In [1]:
# Dependencies and Setup
import pandas as pd
import datetime as dt
# import pyodbc
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import sqlalchemy as db
# import psycopg2 
# import io

# Postgres Connection String
from config import User

In [2]:
# GVA data from 
get_GVA = "../Data/GVA13_18.csv"

# Read Gun Violence Archive Data
GVA_data = pd.read_csv(get_GVA)

In [4]:
# Create connection to the database
cestring = f'{User}GunData'
engine = create_engine(cestring)
metadata = db.MetaData()

# Create database if it does not exist.
if not database_exists(cestring):
    create_database(cestring)
else:
    # Connect the database if exists.
    connection = engine.connect()

In [6]:
# Working copy of GVA data. 
GVA = pd.DataFrame(GVA_data)

# Create a datetime series for later comparison
GVA['comp_date'] = pd.to_datetime(GVA['date'], format= '%Y-%m-%d')

In [7]:
# Retrieve only 2016 data
GVA16 = GVA[GVA['comp_date'].dt.year == 2016]
# Working copy of GVA data. 
GVA = pd.DataFrame(GVA_data)

In [8]:
# GVA16.describe

In [9]:
# Take a look at data by State
GVAByState16 = GVA16.groupby(['state']).count()

In [10]:
# Take a look at data by State and City ot County (recorded juristiction)
GVAByStateCity16 = GVA16.groupby(['state', 'city_or_county']).count()

### This might be interesting

In [11]:
# Take a look at data by State and City ot County by worst offenders
GVAByStateCity16.sort_values(by='incident_id', ascending=False)

                                                incident_id  date  address  \
state     city_or_county
Illinois  Chicago                                      3075  3075     3059
Maryland  Baltimore                                     919   919      891
Louisiana New Orleans                                   829   829      795
Florida   Jacksonville                                  775   775      767
Tennessee Memphis                                       704   704      673
...                                                     ...   ...      ...
Michigan  Sanilac (county)                                1     1        1
          Saint Joseph (St Joseph)                        1     1        1
          Saint Clair Shores (St Clair Shores)            1     1        1
          Saginaw (county)                                1     1        1
Wyoming   Teton Village                                   1     1        1

                                                n_killed  n_injured  \
state     city_or_county
Illinois  Chicago                                   3075       3075
Maryland  Baltimore                                  919        919
Louisiana New Orleans                                829        829
Florida   Jacksonville                               775        775
Tennessee Memphis                                    704        704
...                                                  ...        ...
Michigan  Sanilac (county)                             1          1
          Saint Joseph (St Joseph)                     1          1
          Saint Clair Shores (St Clair Shores)         1          1
          Saginaw (county)                             1          1
Wyoming   Teton Village                                1          1

                                                incident_url  source_url  \
state     city_or_county
Illinois  Chicago                                       3075        3067
Maryland  Baltimore                                      919         919
Louisiana New Orleans                                    829         829
Florida   Jacksonville                                   775         775
Tennessee Memphis                                        704         702
...                                                      ...         ...
Michigan  Sanilac (county)                                 1           1
          Saint Joseph (St Joseph)                         1           1
          Saint Clair Shores (St Clair Shores)             1           1
          Saginaw (county)                                 1           1
Wyoming   Teton Village                                    1           1

                                                incident_url_fields_missing  \
state     city_or_county
Illinois  Chicago                                                      3075
Maryland  Baltimore                                                     919
Louisiana New Orleans                                                   829
Florida   Jacksonville                                                  775
Tennessee Memphis                                                       704
...                                                                     ...
Michigan  Sanilac (county)                                                1
          Saint Joseph (St Joseph)                                        1
          Saint Clair Shores (St Clair Shores)                            1
          Saginaw (county)                                                1
Wyoming   Teton Village                                                   1

                                                congressional_district  \
state     city_or_county
Illinois  Chicago                                                 2888
Maryland  Baltimore                                                894
Louisiana New Orleans                                              745
Florida   Jacksonville                                             748
Tennessee Memphis                                                  648
...                                                                ...
Michigan  Sanilac (county)                                           1
          Saint Joseph (St Joseph)                                   1
          Saint Clair Shores (St Clair Shores)                       1
          Saginaw (county)                                           1
Wyoming   Teton Village                                              1

                                                gun_stolen  ...  \
state     city_or_county                                    ...
Illinois  Chicago                                     1901  ...
Maryland  Baltimore                                    529  ...
Louisiana New Orleans                                  517  ...
Florida   Jacksonville                                 566  ...
Tennessee Memphis                                      362  ...
...                                                    ...  ...
Michigan  Sanilac (county)                               1  ...
          Saint Joseph (St Joseph)                       1  ...
          Saint Clair Shores (St Clair Shores)           1  ...
          Saginaw (county)                               1  ...
Wyoming   Teton Village                                  1  ...

                                                participant_age_group  \
state     city_or_county
Illinois  Chicago                                                2954
Maryland  Baltimore                                               892
Louisiana New Orleans                                             781
Florida   Jacksonville                                            296
Tennessee Memphis                                                 562
...                                                               ...
Michigan  Sanilac (county)                                          1
          Saint Joseph (St Joseph)                                  1
          Saint Clair Shores (St Clair Shores)                      1
          Saginaw (county)                                          1
Wyoming   Teton Village                                             0

                                                participant_gender  \
state     city_or_county
Illinois  Chicago                                             2992
Maryland  Baltimore                                            897
Louisiana New Orleans                                          799
Florida   Jacksonville                                         300
Tennessee Memphis                                              596
...                                                            ...
Michigan  Sanilac (county)                                       1
          Saint Joseph (St Joseph)                               1
          Saint Clair Shores (St Clair Shores)                   1
          Saginaw (county)                                       1
Wyoming   Teton Village                                          0

                                                participant_name  \
state     city_or_county
Illinois  Chicago                                            605
Maryland  Baltimore                                          423
Louisiana New Orleans                                        354
Florida   Jacksonville                                       143
Tennessee Memphis                                            314
...                                                          ...
Michigan  Sanilac (county)                                     1
          Saint Joseph (St Joseph)                             1
          Saint Clair Shores (St Clair Shores)                 0
          Saginaw (county)                                     0
Wyoming   Teton Village                                        0

                                                participant_relationship  \
state     city_or_county
Illinois  Chicago                                                     18
Maryland  Baltimore                                                   15
Louisiana New Orleans                                                186
Florida   Jacksonville                                                38
Tennessee Memphis                                                     79
...                                                                  ...
Michigan  Sanilac (county)                                             1
          Saint Joseph (St Joseph)                                     0
          Saint Clair Shores (St Clair Shores)                         0
          Saginaw (county)                                             0
Wyoming   Teton Village                                                0

                                                participant_status  \
state     city_or_county
Illinois  Chicago                                             3012
Maryland  Baltimore                                            913
Louisiana New Orleans                                          813
Florida   Jacksonville                                         326
Tennessee Memphis                                              666
...                                                            ...
Michigan  Sanilac (county)                                       1
          Saint Joseph (St Joseph)                               1
          Saint Clair Shores (St Clair Shores)                   1
          Saginaw (county)                                       1
Wyoming   Teton Village                                          0

                                                participant_type  sources  \
state     city_or_county
Illinois  Chicago                                           3015     3066
Maryland  Baltimore                                          915      919
Louisiana New Orleans                                        818      829
Florida   Jacksonville                                       326      774
Tennessee Memphis                                            667      704
...                                                          ...      ...
Michigan  Sanilac (county)                                     1        1
          Saint Joseph (St Joseph)                             1        1
          Saint Clair Shores (St Clair Shores)                 1        1
          Saginaw (county)                                     1        1
Wyoming   Teton Village                                        0        1

                                                state_house_district  \
state     city_or_county
Illinois  Chicago                                               2888
Maryland  Baltimore                                              783
Louisiana New Orleans                                            743
Florida   Jacksonville                                           747
Tennessee Memphis                                                648
...                                                              ...
Michigan  Sanilac (county)                                         1
          Saint Joseph (St Joseph)                                 1
          Saint Clair Shores (St Clair Shores)                     1
          Saginaw (county)                                         1
Wyoming   Teton Village                                            1

                                                state_senate_district  \
state     city_or_county
Illinois  Chicago                                                2888
Maryland  Baltimore                                               894
Louisiana New Orleans                                             745
Florida   Jacksonville                                            748
Tennessee Memphis                                                 648
...                                                               ...
Michigan  Sanilac (county)                                          1
          Saint Joseph (St Joseph)                                  1
          Saint Clair Shores (St Clair Shores)                      1
          Saginaw (county)                                          1
Wyoming   Teton Village                                             1

                                                comp_date
state     city_or_county
Illinois  Chicago                                    3075
Maryland  Baltimore                                   919
Louisiana New Orleans                                 829
Florida   Jacksonville                                775
Tennessee Memphis                                     704
...                                                   ...
Michigan  Sanilac (county)                              1
          Saint Joseph (St Joseph)                      1
          Saint Clair Shores (St Clair Shores)          1
          Saginaw (county)                              1
Wyoming   Teton Village                                 1

[7841 rows x 28 columns]

In [12]:
# look at summary info by month
GVAByMonth16 = GVA16.groupby(GVA['comp_date'].dt.month).count()

### They say summer represents the most violent season, but it looks like you cannot discount December or October at least when looking at gun involved assault in 2016.

In [13]:
GVAByMonth16

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,comp_date
comp_date,,,,,,,,,,,,,,,,,,,,,
1,4590,4590,4590,4590,4250,4590,4590,4590,4579,4590,...,3868,4004,2442,436,4195,4211,4585,4019,4083,4590
2,3967,3967,3967,3967,3657,3967,3967,3967,3964,3967,...,3265,3373,2109,364,3539,3558,3964,3489,3547,3967
3,4892,4892,4892,4892,4541,4892,4892,4892,4887,4892,...,3980,4052,2466,415,4265,4289,4869,4229,4330,4892
4,4672,4672,4672,4672,4307,4672,4672,4672,4668,4672,...,3736,3870,2275,410,4062,4090,4657,4006,4118,4672
5,4902,4902,4902,4902,4554,4902,4902,4902,4894,4902,...,4082,4209,2480,445,4403,4445,4801,4242,4323,4902
6,4530,4530,4530,4530,4230,4530,4530,4530,4518,4530,...,3866,3948,2370,423,4146,4158,4527,3873,3938,4530
7,5250,5250,5250,5250,4944,5250,5250,5250,5240,5250,...,4435,4539,2586,467,4759,4768,5246,4475,4567,5250
8,5527,5527,5527,5527,5245,5527,5527,5527,5517,5527,...,4622,4745,2720,482,4972,4994,5526,4501,4640,5527
9,4937,4937,4937,4937,4648,4937,4937,4937,4912,4937,...,4093,4222,2507,433,4444,4466,4922,3791,3889,4937
10,5251,5251,5251,5251,4975,5251,5251,5251,5223,5251,...,4297,4465,2581,490,4685,4715,5239,3747,3870,5251
11,5092,5092,5092,5092,4737,5092,5092,5092,5077,5092,...,4181,4331,2588,483,4557,4583,5085,3534,3668,5092
12,5153,5153,5153,5153,4785,5153,5153,5153,5148,5153,...,4325,4485,2678,512,4673,4696,5148,4010,4119,5153

In [14]:
# filepath='../Data/GVA16Raw.csv'
# GVA16.to_csv(filepath)

## Reorg the data to align with final DB

In [15]:
# Working copy of GVA data new copy with all years
GVA = pd.DataFrame(GVA_data)

In [16]:
GVA.head(1)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,comp_date
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,2013-01-01

In [17]:
# Definition of Incident table
Columns = ['incident_id',
            'date',
            'state',
            'city_or_county',
            'n_killed',
            'state_house_district',
            'state_senate_district'
          ]
NewNames = {'incident_id':'IncidentID',
            'date': 'Date',
            'state': 'State',
            'city_or_county': 'City',
            'n_killed': 'No_Killed',
            'state_house_district': 'House_District',
            'state_senate_district': 'Senate_District'
           }
GVAIncidAll = GVA[Columns].rename(columns=NewNames)

In [18]:
GVAIncidAll = GVA[Columns].rename(columns=NewNames).set_index('IncidentID')
GVAIncidAll.to_sql('Incident', engine, index=True, if_exists='replace')

In [19]:
# Definition of Participant table
Columns = ['incident_id',
            'participant_age_group',
            'participant_gender',
            'participant_name',
            'participant_relationship',
            'participant_status',
            'participant_type'
          ]
NewNames = {'incident_id':'IncidentID',
            'participant_age_group': 'Age',
            'participant_gender': 'Gender',
            'participant_name': 'Name',
            'participant_relationship': 'Relationship',
            'participant_status': 'Status',
            'participant_type': 'Type'
           }
GVAPartAll = GVA[Columns].rename(columns=NewNames)

In [20]:
GVAPartAll = GVA[Columns].rename(columns=NewNames)
GVAPartAll.index.rename('ParticipantID', inplace=True)
GVAPartAll.to_sql('Participants', engine, if_exists='replace')

In [21]:
# Definition of Incident_urls table
Columns = ['incident_id',
            'source_url',
            'incident_url',
            'sources',
          ]
NewNames = {'incident_id':'IncidentID',
            'source_url': 'SourceUrl',
            'incident_url': 'IncidentUrl',
            'sources': 'SourcesUrl',
           }
GVAUrlAll = GVA[Columns].rename(columns=NewNames)

In [22]:
GVAUrlAll = GVA[Columns].rename(columns=NewNames).set_index('IncidentID')
GVAUrlAll.to_sql('IncidentUrl', engine, index=True, if_exists='replace')